<!-- update-password.component.html -->
<form [class]="('kcCardClass') | kcClass | async" [formGroup]="passwordUpdateForm" (ngSubmit)="login()">
    <h2>Bitte ändern Sie Ihr Passwort.</h2>
    <div [class]="('kcCardContentClass' | kcClass | async)">
          <lux-input-ac
            luxType="password"
            id="password-new"
            luxName="password-new"
            luxLabel="Neues Passwort"
            luxAutocomplete="new-password"
            [luxControlBinding]="'password-new'"
          ></lux-input-ac>

          <lux-input-ac
            luxType="password"
            id="password-confirm"
            luxName="password-confirm"
            [luxControlBinding]="'password-confirm'"
            luxLabel="Passwort bestätigen"
          ></lux-input-ac>
        
      </div>
  
    <div [class]="('kcCardActionClass' | kcClass | async)">
        <lux-button
          luxType="submit"
          luxLabel="Weiter"
          luxColor="accent"
          [luxFlat]="true"
        ></lux-button>
    </div>
  </form>
  