<!-- login.component.html -->



<form id="kc-form-login" [action]="kcContext.url.loginAction" style="margin: 4%;">
    <lux-input-ac
      autofocus
      luxLabel="E-Mail"
      luxAutocomplete="off"
      luxTagId="username"
      [class]="getClassName('kcInputClass')"></lux-input-ac>

    <lux-input-ac luxLabel="Passwort"
                  luxAutocomplete="off"
                  luxType="password"
                  luxTagId="password"
                  [class]="getClassName('kcInputClass')">

    </lux-input-ac>

      <div *ngIf="kcContext.realm.rememberMe && !kcContext.usernameHidden">
        <lux-checkbox-ac
          luxLabel="Login merken?"
          [luxChecked]="kcContext.login.rememberMe === 'on'"
        ></lux-checkbox-ac>
      </div>

        <div class="lux-flex lux-flex-col lux-items-center lux-justify-center">
          <input
            type="hidden"
            id="id-hidden-input"
            name="credentialId"
            [value]="kcContext.auth?.selectedCredential"
          />
      
          <lux-button
            name="login"
            id="kc-login"
            type="submit"
            luxColor="accent"
            [luxFlat]="true"
            luxLabel="Weiter"
            [luxDisabled]="kcContext.isLoginButtonDisabled "></lux-button>
      
            
          <lux-button (luxClicked)="kcContext.url.loginResetCredentialsUrl" luxLabel="Passwort vergessen?" [luxFlat]="true">  </lux-button>
        </div>
</form>
