<!-- login.component.html -->
<form id="kc-form-login" [action]="kcContext.url.loginAction" style="margin: 4%;">
  <lux-input-ac
    autofocus
    luxLabel="E-Mail"
    luxAutocomplete="off"
    luxTagId="username">
  </lux-input-ac>

  <lux-input-ac 
    luxLabel="Passwort"
    luxAutocomplete="off"
    luxType="password"
    luxTagId="password">
  </lux-input-ac>

  <div class="lux-flex lux-flex-col lux-items-center lux-justify-center">
    <input
      type="hidden"
      id="id-hidden-input"
      name="credentialId"
      [value]="kcContext.auth?.selectedCredential"
    />
      
    <lux-button
      class="login-button"
      name="login"
      type="submit"
      luxColor="accent"
      [luxFlat]="true"
      luxLabel="Weiter"
      [luxDisabled]="kcContext.isLoginButtonDisabled ">
    </lux-button>
      
    <lux-link-plain  
      class="password-reset-link"
      [luxHref]="kcContext.url.loginResetCredentialsUrl" 
      luxLabel="Passwort vergessen?">
    </lux-link-plain>
  
    <p class="account-question">Sie haben noch kein Konto?</p>
    <p class="registration-instruction">
      <lux-link-plain 
        [luxHref]="kcContext.url.registrationUrl" 
        luxLabel="Registrieren">
      </lux-link-plain> 
      Sie sich und setzen Sie sich mit Ihrer IHK in Verbindung.
    </p>
  </div>
</form>