<!-- login.component.html -->


<form id="kc-form-login" [action]="kcContext.loginAction" style="margin: 4%;">


  <div class="lux-flex lux-flex-col lux-items-center lux-justify-center">
    <lux-input-ac 
    luxLabel="Passwort"
    luxAutocomplete="off"
    luxType="password"
    luxTagId="password">
  </lux-input-ac>

  
    <input
      type="hidden"
      id="id-hidden-input"
      name="credentialId"
      [value]="kcContext.auth?.selectedCredential"
    />
      
    <lux-button
      name="login"
      type="submit"
      luxColor="accent"
      [luxFlat]="true"
      luxLabel="Weiter"
      [luxDisabled]="kcContext.isLoginButtonDisabled ">
    </lux-button>
      
    <lux-link-plain  
      class="password-reset-link"
      [luxHref]="kcContext.url.loginResetCredentialsUrl" 
      luxLabel="Passwort vergessen?">
    </lux-link-plain>
  </div>
</form>