<!-- template.component.html -->

<div class="lux-flex lux-flex-col lux-items-center lux-justify-center" style="height: 100%; background-color: var(--lux-theme-primary-50); font-family: 'Source Sans Pro';">
  <div class="kc-header lux-grid lux-grid-cols-12 lux-auto-cols-max" style="max-height: 5%; margin-bottom: 1%;">

    <div class="col-span-2">
      <img src="{{PUBLIC_URL}}/static/media/ihk.png" width="auto" height="50px" alt="Beschreibung des Bildes">
    </div>
      
    <div class="col-span-8">
      <h1>Bei Ihrem Konto anmelden</h1>
    </div>

    <div class="col-span-2">
      <!-- Leere rechte Spalte -->
    </div>
  </div>

<lux-card luxTitle="LUX BS 2.0 - Self Service Portal"  style="width: 60%;">

      <lux-card-content id="kc-content">
        <p style="color: var(--lux-theme-component-bg-gray)"> Falls Sie sich seit August 2022 erstmalig wieder anmelden, beachten Sie folgende <a href="https://example.com">Informationen</a>. </p>
          <ng-container [ngSwitch]="kcContext?.pageId">
            <kc-login *ngSwitchCase="'login.ftl'" [kcContext]="kcContext"></kc-login>
            <kc-login *ngSwitchCase="'register.ftl'" [kcContext]="kcContext"></kc-login>
            <kc-terms *ngSwitchCase="'terms.ftl'" [kcContext]="kcContext"></kc-terms>
          </ng-container>
      </lux-card-content>
</lux-card>
</div>