.lux-main-additional {
  height: 100%;
  background-color: var(--lux-theme-light-secondary-text);
}

.lux-container-additional {
  min-height: 50vh; 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.lux-content-additional {
  background-color: white;
  min-width: 20em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lux-header-additional {
  background-color: var(--lux-theme-primary-50);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.lux-h1 {
  color: var(--lux-theme-primary-500);

}

.icon {
  margin-left: 5px;
  width: auto;
  height: "50px";
}