<div [class]="('kcLoginClass' | kcClass)">
    <!-- header -->
    <div [class]="('kcHeaderClass' | kcClass)">
      <div [class]="('kcHeaderWrapperClass' | kcClass)" [innerHTML]="kcContext.realm.displayNameHtml! | sanitizeHtml">
      </div>
      <div [class]="('kcHeaderImageClass' | kcClass)">
        <img src="{{publicPath}}/static/media/ihk.png" class="icon" alt="IHK Logo">
      </div>
    </div>
    <!-- content -->
    <lux-card class="content-card" luxTitle="LUX BS 2.0 - Self Service Portal">
      <lux-card-content id="kc-content">
        <router-outlet></router-outlet>
      </lux-card-content>

      <!-- footer -->
      <div class="footer-links">
        <lux-link-plain luxLabel="Impressum" luxHref="https://www.ihk-gfi.de/impressum-5343024"></lux-link-plain> |
        <lux-link-plain luxLabel="Datenschutzerklärung" luxHref="https://www.ihk-gfi.de/datenschutz-lux-bs-5518234"></lux-link-plain>
      </div>
    </lux-card>
</div>