

.kc-header {
  width: 50%;
  background-color: var(--lux-theme-primary-500);
  border-radius: 4px;
}

.lux-container-additional {
  height: 100%;
  background-color: var(--lux-theme-primary-50);
}

.lux-header-additional {
  height: 6em;
}

.lux-h1 {
  color: white;
}

.info-text {
  color: var(--lux-theme-component-bg-gray);
  margin: 0;
}

.icon {
  margin-left: 5px;
  width: auto;
  height: "50px";
}