<div class="lux-flex lux-flex-col lux-items-center lux-justify-center lux-container-additional">

  <!-- header -->
  <div *ngIf="kcContext" class="kc-header lux-grid lux-grid-cols-12 lux-auto-cols-max lux-header-additional">

    <div class="lux-col-span-2 lux-flex lux-items-center">
      <img src="{{publicPath}}/static/media/ihk.png" class="icon" alt="IHK Logo">
    </div>

    <div class="lux-col-span-8 lux-flex lux-items-center lux-justify-center">
      <h1 class="lux-h1">{{kcContext.realm.displayName}}</h1>
    </div>

    <div class="lux-col-span-2">
      <!-- Internationalisierung -->
    </div>
  </div>

  <!-- content -->
  <lux-card luxTitle="LUX BS 2.0 - Self Service Portal" style="width: 50%;">

    <lux-card-content id="kc-content">

      <!-- Fehlermeldungen -->

      <p style="color: var(--lux-theme-component-bg-gray);  margin: 0%;"> Falls Sie sich seit August 2022 erstmalig
        wieder anmelden, beachten Sie folgende <lux-link-plain luxLabel="Informationen"
          href="https://example.com"></lux-link-plain>.</p>

      <router-outlet></router-outlet>
      <!-- hier wird der router outlet des Login themes geladen, https://github.com/kathari00/keycloakify-starter-angular
                                                ist eine Version mit 2 Router outlets, damit zwischen verschiedenen Themetypes (login, account, etc unterschieden werden kann. ) -->
    </lux-card-content>


    <!-- showTryAnotherWayMfa-->

    <!-- infonode-->

    <!-- footer -->
    <lux-link-plain luxLabel="Impressum" luxHref="https://www.ihk-gfi.de/impressum-5343024"></lux-link-plain> |
    <lux-link-plain luxLabel="Datenschutzerklärung"
      luxHref="https://www.ihk-gfi.de/datenschutz-lux-bs-5518234"></lux-link-plain>
  </lux-card>


</div>