<!-- login.component.html -->


<form id="kc-form-login" [action]="kcContext.url.loginAction" style="margin: 4%;">
  <lux-input-ac
    autofocus
    luxType="text"
    luxLabel="E-Mail"
    luxAutocomplete="off"
    luxTagId="username"
    name="username">
  </lux-input-ac>
<lux-checkbox-ac 
luxLabel="Remember me"
name="rememberMe">
</lux-checkbox-ac>
  <input
  type="hidden"
  name="password"
  id="password"
  value="">

  <div class="lux-flex lux-flex-col lux-items-center lux-justify-center">
    <input
      type="hidden"
      id="id-hidden-input"
      name="credentialId"
      [value]="kcContext.auth?.selectedCredential"
    />
    
    <lux-button
      name="login"
      type="submit"
      luxColor="accent"
      [luxFlat]="true"
      luxLabel="Weiter"
      [luxDisabled]="kcContext.isLoginButtonDisabled ">
    </lux-button>
  
  
    <p class="account-question">Sie haben noch kein Konto?</p>
    <p class="registration-instruction">
      <a
        [href]="kcContext.url.registrationUrl" 
        luxLabel="Registrieren">
        Registrieren
    </a> 
      Sie sich und setzen Sie sich mit Ihrer IHK in Verbindung.
    </p>
  </div>
</form>