<form id="kc-form-login" (ngSubmit)="login()" [formGroup]="myGroup" style="margin: 4%;" *ngIf="!responseHtml">
  <lux-input-ac autofocus luxType="text" luxLabel="E-Mail" luxAutocomplete="off" luxName="username" luxControlBinding="username"></lux-input-ac>
  <lux-input-ac luxLabel="Passwort" luxAutocomplete="off" luxType="password" luxName="password" luxTagId="password" luxControlBinding="password">
  </lux-input-ac>

  <div class="lux-flex lux-flex-col lux-items-center lux-justify-center">
    <lux-input-ac hidden luxTagId="id-hidden-input" luxName="credentialId" luxControlBinding="credentialId" luxControlBinding="credentialId"></lux-input-ac>
    <lux-button luxName="login" luxType="submit" luxColor="accent" [luxFlat]="true" luxLabel="Weiter"
      [luxDisabled]="kcContex.isLoginButtonDisabled">
    </lux-button>

    <p class="account-question">Sie haben noch kein Konto?</p>
    <p class="registration-instruction">
      <a [href]="kcContex.url.registrationUrl" luxLabel="Registrieren">
        Registrieren
      </a>
      Sie sich und setzen Sie sich mit Ihrer IHK in Verbindung.
    </p>
  </div>
</form>
<div *ngIf="responseHtml" [innerHtml]="responseHtml"></div>