@import '@ihk-gfi/lux-components-theme/src/base/luxfonts';
$basepath: 'https://cdn.gfi.ihk.de/lux-components/icons-and-fonts/v1.8.0/';
@include web-fonts($basepath);

body {
    margin: 0;
    padding: 0;
}

.lux-form-additional {
    height: 100%;
    min-width: 20rem;
  }